#office {
    display: flex; justify-content: space-between; height: 100%;
    background: linear-gradient(to bottom, #222, #000);
}

.wall { width: 150px; height: 100%; position: relative; background: #333; }

/* Système de Porte */
.door {
    position: absolute; top: 0; left: 0; width: 100%; height: 80%;
    background: #555; border-bottom: 10px solid #222;
    transition: transform 0.3s ease-in-out;
    z-index: 10;
}
.door.open { transform: translateY(-100%); } /* Monte pour ouvrir */

/* Effet de Lumière */
.light-effect {
    position: absolute; top: 0; width: 100%; height: 80%;
    background: rgba(255, 255, 200, 0.4);
    opacity: 0; pointer-events: none; transition: opacity 0.1s;
}
.light-on { opacity: 1; }

.controls { position: absolute; bottom: 10px; width: 100%; text-align: center; }